{% extends '../base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="admin-dashboard">
    <div class="container py-5">
      <div class="row justify-content-center align-items-center py-5 mt-3">
          <div class="col-8 mt-4">
              <h3 class="text-center">Customer Dashboard</h3>
          </div>
      </div>
    </div>
</div>

<div class="container py-5">
    <div class="row justify-content-center align-item-center">
        <div class="col-md-5">
            <div class="card">
                <h3 class="my-3 text-primary text-center">
                    Change My Password
                </h3>
                {% if form.errors %}
                    <p class="text-white fw-bold">Please correct the following errors:</p>
                    {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-primary" role="alert">
                            {{ field.label }}: {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="card-body">
                    <form action="." method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {{field.label}}
                            {{field}}
                        {% endfor %}
                        <input type="submit" value="Save Changes" class="btn btn-danger fw-bold px-5 w-100 h-auto">
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}