{% extends '../base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<style>
  .p-card img{
    height: 200px;
    object-fit: cover;
  }
</style>

<!-- banner -->
<div class="banner">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="overlay"></div>
          <video src="{% static 'images/video-five.mp4' %}" autoplay loop muted class="d-block w-100 img-fluid"></video>
          <div class="carousel-caption">
            <h5>ENGINEERING EQUIPMENTS</h5>
            <p>Global Machinary Offshore Wind Market Report provides a comprehensive review and outlook of global and regional offshore wind spending and installation activity on a quarterly basis.</p>
            <p><a href="">Get Started</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay"></div>
          <video src="{% static 'images/video-two.mp4' %}" autoplay loop muted class="d-block w-100 img-fluid"></video>
          <div class="carousel-caption">
            <h5>ENGINEERING EQUIPMENTS</h5>
            <p>The leading source of commercial offshore rig data and intelligence, trusted by leading E&P companies, rig contractors, OFS companies, and financial sector advisors worldwide.</p>
            <p><a href="{% url 'frontend:all_products' %}">Get Started</a></p>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="overlay"></div>
          <video src="{% static 'images/video-one.mp4' %}" autoplay loop muted class="d-block w-100 img-fluid"></video>
          <div class="carousel-caption">
            <h5>ENGINEERING EQUIPMENTS</h5>
            <p>Global Machinary Offshore Wind Market Report provides a comprehensive review and outlook of global and regional offshore wind spending and installation activity on a quarterly basis.</p>
            <p><a href="">Get Started</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay"></div>
          <img src="{% static 'images/hero2.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h5>ENGINEERING EQUIPMENTS</h5>
            <p>The leading source of commercial offshore rig data and intelligence, trusted by leading E&P companies, rig contractors, OFS companies, and financial sector advisors worldwide</p>
            <p><a href="">Get Started</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay"></div>
          <img src="{% static 'images/hero3.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h5>ENGINEERING EQUIPMENTS</h5>
            <p>Global Machinary Offshore Wind Market Report provides a comprehensive review and outlook of global and regional offshore wind spending and installation activity on a quarterly basis.</p>
            <p><a href="">Get Started</a></p>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- card sirt -->
<section id="about-us">
    <div class="container py-5">
      <div class="row py-2">
        <div class="col-md-6">
          <h1 class="text-danger">About Us</h1>
          <h3 class="text-primary">Global Machine Overview</h3>
          <hr>
          <p class="lead fw-bold">At Global Machines, we have been a trusted by our partners to supply original and strong engineering equipments, with a team dedicated to continually finding the best solution to our customer's operational challenges.</p>
          <ul>
            <li>Our team helps customers better manage costs and mitigate risks through the provision of advanced safety equipments, efficient, and cost-effective operation of both our global fleet of drilling rigs equipment and also by operating and maintaining customer-owned rig</li>
            <li>Our team takes pride in delivering services that meet our customer's exact requirements, by prioritizing Safety Tools, Procedural Discipline, Competency, Audit and Assessment, and Key Performance Indicators</li>
            <li>Our name says a lot about who we are. We serve customers all over the world. We have the same pride in our products that citizens have in their state. We strive to be the market leader and provider of choice for oilfield tool sales, rentals, manufacturing and service.</li>
            <li>We manufacture and distribute top oilfield tools for oil and water well drilling and provide service to keep your equipment running smoothly.</li>
          </ul>
          <a href="{% url 'frontend:all_products' %}" class="btn btn-danger fw-bold rounded-pill w-50 mt-3">Learn More</a>

        </div>
        <div class="col-md-6">
          <img src="{% static 'images/worker1.jpg' %}" alt="" class="img-fluid img-swell mb-5">
          <img src="{% static 'images/workers.jpg' %}" alt="" class="img-fluid img-swell">
        </div>
      </div>
    </div>
  </section>

  <!-- mode section -->
  <section id="mode-section">
    <div class="container pt-5 pb-3 text-white">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <h2>WE MANUFACTURE, REFURBISH AND RE-CERTIFY EQUIPMENT FOR LAND AND OFFSHORE DRILLING RIGS.</h2>
          <p>Proper inspection and testing is critical to keeping your equipment operational and safe. With all of our after sale services, we strive for quality, excellence and your satisfaction.
          Our equipments are certified in Magnetic Particle Inspection (MPI) and Load Tested by API standards.
          </p>
          <p>Thanks to our professional services, quality products, fast delivery and competitive prices, we have built up a very good reputation among our customers. Our products are serving for customers from more than 40 countries, like USA, Venezuela, Argentina, India, Kazakhstan, Uzbekistan, Azerbaijan, Romania, China, Syria and Egypt etc.. </p>
        </div>
        
      </div>
    </div>
  </section>

  <!-- products -->
  <section id="products">
    <div class="container py-5">
      <h1 class="text-center text-danger mb-5">Top Sales</h1>
      <div class="row">
        {% for product in products %}
        <div class="col-md-3 mb-4 ">
          <div class="card  p-card h-100">
            {% for imgg in product.media.all %}
              {% if imgg.is_featured %}
              <img src="{{imgg.image.url}}" class="card-img-top">
              {% endif %}
            {% endfor %}
            <div class="card-body card-body-smile" >
              <h5 class="card-title">{{product.title| slice:'0:31'}}....</h5>
              <p class="card-text fw-bold">Price: ${{product.price|intcomma}}</p>
              <a href="{% url 'frontend:product_detail' product.id %}" class="btn btn-danger fw-bold btn-sm w-100 h-auto">View Details</a>
            </div>
           
          </div>
        </div>
        {% endfor %}
      </div>
      <hr>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a href="{% url 'frontend:all_products' %}" class="btn btn-danger fw-bold rounded-pill px-5">View More Products</a>
      </div>
      
    </div>
</section>


<!-- mode section -->
<section id="mode-section-2">
    <div class="container pt-5 pb-3 text-white">
      <div class="row py-5">
        <div class="col-md-6">
          <h3 class="text-info">--  LOCATION</h3> 
          <h1>Our International Markets</h1>
          <p>From Alaska to Colombia, Europe, Africa to the Middle East and around the world, GB has the products, services and expertise to ensure your drilling operation runs efficiently and safely.</p>
          <p>We are always ready to help solve the subsurface energy challenges of today and tomorrow, wherever and whatever they may be.</p>
        </div>
        <div class="col-md-6">
          <img src="{% static 'images/worker3.jpg' %}" alt="" class="img-fluid" style="opacity: 0.3;">
        </div>
        
      </div>
    </div>
</section>

<!-- company we work with -->
<section id="compay-with">
    <div class="container py-5">
      <h1 class="text-center text-danger mb-5">
        Some Of Our Regular Customers
      </h1>
      <div class="row bg-light">
        <div class="col-3 work-with">
          <img src="{% static 'images/aramco.png' %}" alt="" class="img-fluid">
        </div>
        <div class="col-3 work-with">
          <img src="{% static 'images/snpmf.png' %}" alt="" class="img-fluid">
        </div>
        <div class="col-3 work-with">
          <img src="{% static 'images/exxonmobile.png' %}" alt="" class="img-fluid" >
        </div>
        <div class="col-3 work-with">
          <img src="{% static 'images/pccyf.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>


{% endblock %}